# Dependencies
node_modules/
/dependencies/
!/dependencies/README.md

# npm package build
build/
dist/
.cache
assets/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
