body, html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.Root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.ChemDrawEditor {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}